@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(192, 53, 162, 1) 0%,
    rgba(122, 32, 192, 1) 100%
  );
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}

.asideScroll::-webkit-scrollbar {
  width: 4px;
}

.asideScroll::-webkit-scrollbar-track {
  background: #d63626;
}

.asideScroll::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh #f3f4f6;
}

.showModal::-webkit-scrollbar {
  width: 4px;
}
.showModal::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgb(254, 113, 223) 0%,
    rgb(179, 80, 255) 100%
  );
}

.showModal::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
  /* box-shadow: 0px 3px 8px -2px rgba(22, 201, 251, 0.2); */
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float-animation {
  animation: floatAnimation 6s ease-in-out infinite;
}


.my-scrollable-component::-webkit-scrollbar {
  width: 6px;
}

.my-scrollable-component::-webkit-scrollbar-thumb {
  background-color: #D63626;
  border-radius: 6px;
}

.my-scrollable-component::-webkit-scrollbar-track {
  background-color: #F3F4F6;
  border-radius: 6px;
}


hover-rotate img {
  transition: all 0.5s;
  box-sizing: border-box;
  max-width: 100%;
}

.hover-rotate:hover img {
  transform: scale(1.2) rotate(5deg);
}

